menu "Example MQTT Configuration"

    config BROKER_HOSTNAME
        string "MQTT Broker Hostname"
        default "DESKTOP-BARRO"
        help
            Hostname of the broker to connect to

    config BROKER_PORT
        int "MQTT Broker Port"
        default 1883
        help
            Set the port user for the broker to connect to
endmenu
